@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@font-face {
  font-family: "ADELIA";
  src: url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
}

html,
body,
:root {
  height: 100%;
  background-color: #f0f0f0;
  overflow-x: hidden;
  padding: 0;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

.c-lesPJm-ijsQFok-css {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  mix-blend-mode: overlay;
}

.c-lesPJm-ifStJuL-css {
  filter: hue-rotate(-75deg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
}

.grain-texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  mix-blend-mode: multiply;
  pointer-events: none;
  filter: contrast(300%) brightness(100%);
}

.c-lesPJm-igdgMPG-css {
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%) scale(3) translateZ(0);
  filter: blur(5px);
  position: absolute;
  background-color: #ff0;
  opacity: 0.1;
}

.c-lesPJm-iiZsAdS-css {
  width: 340px;
  height: 560px;
  padding: 16px;
  background: pink;
  position: relative;
}

.c-lesPJm {
  box-sizing: border-box;
}

.paper:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  mix-blend-mode: difference;
  background-image: url(/public//images/paper.jpeg);
  filter: brightness(5%);
}

.banner {
  background-image: url("../public/images/estudilogo.png");

  height: 300px;
  width: 100vw;
  overflow: hidden;
}

.c-lesPJm-ikzLvCr-css {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(20px) saturate(1000%);
  pointer-events: none;
  opacity: 0.5;
  z-index: 0;
  animation: k-jdTnBl 30s linear infinite;
}

@keyframes k-jdTnBl {
  0% {
    transform: rotate(0deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(2);
  }
}
